:root {
    --techguru-font: "Cairo", sans-serif;
    --techguru-font-two: "Cairo", serif;
}

.main-menu-two__contact-list li .text {
    margin-right: 10px;
    margin-left: unset;
}

.main-menu-two__contact-list li .icon i {
    margin-left: 5px;
}

.main-menu .main-menu__list > li + li,
.stricky-header .main-menu__list > li + li {
    margin-right: 35px;
    margin-left: unset;
}

.main-menu .main-menu__list > li.dropdown > a {
    padding-left: 15px;
    padding-right: 0;
}

.main-menu .main-menu__list > li.dropdown > a:after {
    right: auto;
    left: 0;
}

.main-menu .main-menu__list > li > ul,
.main-menu .main-menu__list > li > ul > li > ul,
.stricky-header .main-menu__list > li > ul,
.stricky-header .main-menu__list > li > ul > li > ul {
    left: auto;
    right: 0;
    text-align: right;
}

.main-menu .main-menu__list > li > ul > li > a:before {
    left: auto;
    right: 0;
}

.thm-breadcrumb li + li {
    margin-left: 0;
    margin-right: 8px;
}

.main-menu-two__nav-sidebar-icon .navSidebar-button {
    padding-right: 0;
    padding-left: 13px;
}

.main-menu-two__contact-list li + li {
    margin-right: 30px;
    margin-left: unset;
}

.main-menu-two__contact-list li:before {
    left: unset;
    right: -15px;
}

.site-footer-two__contact-list li:before {
    right: 0;
    left: auto;

}

 .site-footer-two__about {
    padding: 45px 48px 43px;
    border-radius: 40px;
    text-align: right;
}

 .footer-widget-two__quick-links {
    margin-left: 0;
    margin-right: 50px;
}

 .footer-widget-two__support {
    padding-left: 0;
    padding-right: 100px;
}

 .footer-widget-two__support:before {
    left: auto;
    right: 15px;
}

 .footer-widget-two__services {
    padding-left: 0;
    padding-right: 108px;
}

 .footer-widget-two__services:before {
    left: auto;
    right: 30px;
}

 .site-footer-two__social-title {

    background-clip: text;
}

 .footer-widget-two__title {

    -webkit-text-fill-color: transparent;
    background-clip: text;
}

 .site-footer-two__shape-1 {
    left: auto;
    right: -70px;
}

 .site-footer-two__shape-2 {
    left: auto;
    right: 595px;
}

 .footer-widget-two__quick-links-list li a:before {
    left: auto;
    right: 0;
    transform-origin: right center;
}

 .site-footer-two__social-box-inner a:before {
    transform-origin: center;
}

/* Carousel RTL Support */
.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* Carousel Navigation Buttons RTL */
.owl-nav {
    direction: ltr;
}

 .owl-nav .owl-prev {
    left: auto;
    right: -50px;
}

 .owl-nav .owl-next {
    right: auto;
    left: -50px;
}

/* Swiper RTL Support */
.swiper-rtl {
    direction: rtl;
}

.swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

/* Title Animation RTL Support */
 .title-animation {
    text-transform: none;
    font-variant: normal;
    font-feature-settings: normal;
    unicode-bidi: embed;
    direction: rtl;
    word-spacing: normal;
    letter-spacing: normal;
    font-variant-ligatures: normal;
    text-rendering: optimizeLegibility;
}

 .sec-title-animation .title-animation {
    direction: rtl;
    text-align: right;
    word-spacing: normal;
    letter-spacing: normal;
    font-size: 40px;
    line-height: 50px;
    display: block;
    font-weight: 700;
}

 .section-title.text-left .section-title__title,
 .section-title.text-left .section-title__title.title-animation,
 .section-title.text-left .title-animation {
    text-align: right;
}

 .section-title.text-center .section-title__title,
 .section-title.text-center .section-title__title.title-animation,
 .section-title.text-center .title-animation {
    text-align: center;
}

 .section-title.text-center.sec-title-animation .title-animation {
    text-align: center;
    direction: rtl;
}

 .section-title.text-center .section-title__title .split-line,
 .section-title.text-center .section-title__title .split-word,
 .section-title.text-center .section-title__title .split-char {
    text-align: center;
}

 .section-title__title {
    font-size: 40px;
    line-height: 50px;
    display: block;
    font-weight: 700;
    min-height: auto;
    height: auto;
    text-align: inherit;
}

 .section-title__title.title-animation {
    font-size: 40px;
    line-height: 50px;
    display: block;
    font-weight: 700;
    min-height: auto;
    height: auto;
    text-align: inherit;
}

.core-services-title {
    text-align: center;
}

 .title-animation,
 .title-animation *,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-feature-settings: normal;
    text-transform: none;
    font-variant-ligatures: normal;
    text-rendering: optimizeLegibility;
}

 .section-title__title .split-line,
 .section-title__title .split-word,
 .section-title__title .split-char {
    display: inline;
    unicode-bidi: embed;
    direction: rtl;
    word-spacing: normal;
    letter-spacing: normal;
    font-variant-ligatures: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

 .title-animation .split-line,
 .title-animation .split-word,
 .title-animation .split-char {
    font-feature-settings: normal;
    text-transform: none;
    display: inline;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

/* Marquee RTL */
 .marquee_mode,
 .marquee_mode-2 {
    direction: rtl;
}

.team-two__right {
    margin-right: unset;
    margin-left: -315px;
}

.team-two__left .section-title__title {
    margin-right: unset;
}

.testimonial-two__quote {
    right: unset;
    left: 30px;
}

.blog-one__meta li + li {
    margin-left: unset;
    margin-right: 26px;
}

.blog-one__meta li a span {
    margin-right: unset;
    margin-left: 6px;
}

.blog-one__meta li::before {
    left: unset;
    right: -13px;
}

.blog-two__user-two,
.blog-two__user {
    padding-right: unset;
    padding-left: 15px;
}

.blog-two__content-two {
    padding-right: 75px;
    padding-left: unset;
}

.blog-two__tags {
    left: unset;
    right: 14px;
}

.blog-two__meta li a span,
.blog-details__meta li a span {
    margin-left: 6px;
    margin-right: unset;
}

 .page-header__bg::before {

    transform: none;
}



 .about-one__left .section-title__title,
 .about-two__right .section-title__title {
    margin-right: 0;
    margin-left: -100px;
}

 .about-one__right {
    margin-left: 0;
    margin-right: 70px;
}

 .about-one__right-img-box {
    margin-left: 0;
    margin-right: 58px;
}

 .about-one__points li,
 .about-two__points-list li,
 .about-three__points li {
    text-align: right;
}

 .about-two__left {
    margin-right: 0;
    margin-left: 135px;
}

 .about-two__shape-3 {
    right: auto;
    left: 0;
}

 .about-two__img-2 {
    right: auto;
    left: -102px;
}

 .about-two__shape-1 {
    right: auto;
    left: -28px;
}

 .about-two__client-box {
    margin-left: 0;
    margin-right: 28px;
}

 .about-two__client-img-list li + li {
    margin-left: 0;
    margin-right: -18px;
}

 .about-two__experience-box::before,
 .about-two__call-box::before {
    right: auto;
    left: -20px;
}

 .about-two__call-icon::after {
    right: auto;
    left: 0;
}

 .about-three__left {
    margin-right: 0;
    margin-left: 60px;
}

 .about-three__progress-box .progress-box .count-box {
    right: auto;
    left: 0;
    margin-right: 0;
    margin-left: -35px;
}

 .about-three__progress-box .progress-box .count-box:after {
    left: auto;
    right: 0;
    border-left: 0;
    border-right: 5px solid var(--techguru-base);
}

.banner-one__title {
    line-height: 1.4em;
}

.about-four__left {
    margin-right: unset;
    margin-left: 145px;
}

.about-four__experience {
    right: unset;
    left: -65px;
}

/* Subscribe / Newsletter RTL */
 .newsletter-two__shape-1 {
    left: auto;
    right: 0;
    transform: scaleX(-1);
}

 .newsletter-two__shape-2 {
    right: auto;
    left: -30px;
    transform: scaleX(-1);
}

 .newsletter-two__left,
 .newsletter-two__right {
    text-align: right;
}

 .newsletter-two__input input[type="email"] {
    padding-left: 200px;
    padding-right: 25px;
}

 .newsletter-two__form .thm-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    right: auto;
}

 .newsletter-two__form .checked-box label {
    padding-left: 0;
    padding-right: 30px;
}

 .newsletter-two__form .checked-box {
    text-align: right;
}

 .newsletter-two__form .checked-box input[type="checkbox"] + label span {
    left: auto;
    right: 0;
}

 .newsletter-two__form .checked-box label span:before {
    left: auto;
    right: 6px;
}

 .newsletter-two__form .checked-box input[type="checkbox"]:checked + label span:before {
    opacity: 1;
}

 .site-footer__newsletter-input input[type="email"] {
    padding-right: 25px;
    padding-left: 60px;
}

 .site-footer__newsletter-btn {
    right: auto;
    left: 5px;
}

 .site-footer__newsletter-form .checked-box label {
    padding-left: 0;
    padding-right: 30px;
}

 .site-footer__newsletter-form .checked-box input[type="checkbox"] + label span {
    left: auto;
    right: 0;
}

 .sidebar__newsletter {
    text-align: right;
}

 .sidebar__newsletter-form input[type="search"] {
    padding-left: 45px;
    padding-right: 20px;
}

 .sidebar__newsletter-input-icon {
    right: auto;
    left: 20px;
}

 .coming-soon-page__subscribe-box form input[type="email"] {
    padding-right: 20px;
    padding-left: 160px;
}

 .coming-soon-page__subscribe-box form .coming-soon-page__btn {
    right: auto;
    left: 0;
}

.services-details__need-help-content {
    left: unset;
    right: 25px;

}

.blog-two__meta li+li, .blog-two__meta-two li+li, .blog-details__meta li+li {
    margin-right: 26px;
    margin-left: unset;
}

.blog-details__meta li::before {
    left: unset;
    right: -13px;
}

.blog-two__meta-two li a span {
    margin-right: unset;
    margin-left: 6px;

}

.blog-two__meta li::before, .blog-two__meta-two li::before {

    left: unset;
    right: -13px;

}

.blog-details__left {
    margin-left: 100px;
    margin-right: unset;
}

/* Added responsive RTL overrides */
@media (max-width: 1200px) {
    .team-two__right {
        margin-left: 0 !important;
    }

    .about-one__left .section-title__title,
    .about-two__right .section-title__title {
        margin-left: 0 !important;
    }

    .about-two__left {
        margin-left: 0 !important;
    }

    .about-four__left {
        margin-left: 0 !important;
    }

    .blog-details__left {
        margin-left: 0 !important;
    }
}

@media (max-width: 991px) {
    .footer-widget-two__quick-links,
    .footer-widget-two__support,
    .footer-widget-two__services {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    .about-one__right {
        margin-right: 0 !important;
    }

    .about-one__right-img-box {
        margin-right: 0 !important;
    }

    .about-three__left {
        margin-left: 0 !important;
    }
}

@media (max-width: 767px) {
    .about-two__client-box {
        margin-right: 0 !important;
    }

    .about-two__img-2 {
        left: 0 !important;
    }

    .about-four__experience {
        left: 0 !important;
    }
}

.mobile-nav__contact li>i {
    margin-right: unset;
    margin-left: 10px;

}
